body {
  background-color: #F8E49C;
  text-align: center;
  display: block;
}

a {
  color: #268735;
  font-size: larger;
}

li {
  list-style-type: none;
  display: inline-block;
}

.email {
  color:blue;
  text-decoration: underline;
}